<!-- Teaser: comes with a headline, an optional image and some optional text -->
<article class="b-teaser">
	<a class="link-box" href="{{link-href}}">
		<h2 class="title">{{title}}</h2>
		
		<!-- optional: image -->
		{{#if image}}
		<img class="image" src="{{image.source}}" alt="{{image.alt-text}}" />
		{{/if}}
		
		<!-- optional: text -->
		{{#if text}}
		<p class="text">{{text}}</p>
		{{/if}}
	</a>
</article>
